div(class=className('main-carousel', 'main-carousel'))
    block main-carousel
        div(class=className('main-carousel', 'container'))
            div(class=className('main-carousel', 'text'))
                div(class=className('main-carousel', 'title'))
                div(class=className('main-carousel', 'desc'))
                div(class=className('main-carousel', 'button'))
            div(class=className('main-carousel', 'video'))