//extends /layouts/layout
//block content
//    div(class=className('example', 'example-page'))
//        h1 Test PAGE
//        div(aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto at aut autem deleniti dolores ea, error ipsam itaque minima nemofdsfd nihil nostrum numquam perspiciatis quasi quod temporibus, voluptatem voluptates?" class=className('example', 'hint')) HINT Right
//        div(class=className('example', 'box')) box
//        div(class=className('example', 'user'))
//            div(style="background-image: url('https://picsum.photos/50/50/?random')" class=className('example', 'user-avatar'))
//            div(class=className('example', 'user-name'))
//                span(class=className('example', 'user-name-text user-name-text-color')) Ибрагимвсеволодовичвасиленко
//        span(class=className('example', 'some-text')) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ducimus expedita itaque, numquam officia quam ratione sint sunt! Cum, deserunt earum error esse fugit odit quae quam qui vel veniam.