//- extends /layouts/layout
//- block content
//- 	div(class=className('example', 'example-page'))
//- 		div(class=className('main-carousel', 'container'))

//- 			div(class=className('main-carousel', 'text'))
//- 				div(class=className('main-carousel', 'title'), class='title color-white') About Cognetive Catalyst
//- 				div(class=className('main-carousel', 'desc'), class='paragraph color-white') Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.
//- 				div(class=className('main-carousel', 'button'), class='button--color-white color-white') Get Started

//- 			div(class=className('main-carousel', 'video'))
//- 				iframe(width="560" height="315" src="https://www.youtube.com/embed/Ln-0D6kdTaw" frameborder="0" allowfullscreen)
