div(class=className('main-screen', 'main-screen'))
	block main-screen

		div(class=className('main-screen', 'text-wrapp'))

			div(class=className('main-screen', 'title'), class='main-title') We can #[span do] something #[span bigger, together]

			div(class=className('main-screen', 'sub-title'), class='sub-title') Solve problems collaboratively using IBM Watson

			div(class=className('main-screen', 'call-back'), class='paragraph') Be part of the innovation!

			div(class=className('main-screen', 'btn'), class='paragraph-small button--large-padding') Get Started