header(class=className('header', 'header'), class='header-js')
	block header

		div(class=className('header', 'header--logo'))
			p css-modules-simple-builder


		div(class=className('header', 'search header--search'), class='nav-js')
			include /components/input/input.pug
				block input


		div(class=className('header', 'sign header--sign'), class='nav-js')
			button(class=className('header', 'btn'), class='button') download
			button(class=className('header', 'btn'), class='button') github


		div(class=className('header', 'nav header--nav'), class='nav-js')
			a(class=className('header', 'item'), href="#") item
			a(class=className('header', 'item'), href="#") item
			a(class=className('header', 'item'), href="#") item


		div(class=className('header', 'wrap-burger header--burger'), class='burger-js')
			div(class=className('header', 'burger'))
					div(class=className('header', 'top'))
					div(class=className('header', 'mid'))
					div(class=className('header', 'bottom'))